[font]
size = 9.0

[font.normal]
family = "JetBrainsMonoNL NFM"

[keyboard]

[[keyboard.bindings]]
chars = "\u001Bb"
key = "Left"
mods = "Alt"

[[keyboard.bindings]]
chars = "\u001Bf"
key = "Right"
mods = "Alt"
