snippet snip-syntaxhighlight
	<syntaxhighlight lang="text" line start="0" highlight="1,3-4" inline style="border: 3px dashed blue;">
	</syntaxhighlight>


snippet snip-default
	== Features ==
	* [[...]]

	== See also ==
	* [[...]]

	== Favorite site ==
	* [ Github - ]

